crc==7.1.0
faker==33.1.0
hashbase==1.1.5
lzokay==1.1.8
matplotlib==3.10.0
mmh3==5.0.1
numpy==2.1.3
Pillow==10.4.0
polib==1.2.0
pre-commit==4.0.1
pytest==8.3.3
pytest-cov==6.0.0
rawutil==2.8.1
setuptools==75.6.0
twine==5.1.1
types-setuptools==75.6.0.20241126
